@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2> Jaunākās ziņas</h2>

@if (Model.ShowCategories)
{

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left ">
                    @foreach (var fCat in Model.topics)
                    {
                    <li><a href="Topics?CategoryId=@fCat.Id">@fCat.Title</a></li>
                    }
                </ul>

            </div>
        </div>
    </nav>

}
<div class="row">

    @foreach (var fNews in Model.news)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>@fNews.Description</h3>
                    <p>...</p>
                    <p><a href="Home/OneNew?id=@fNews.Id">@fNews.Title</a></p>
                </div>
            </div>
        </div>
    }

</div>
